asgiref==3.5.2
Django==3.2.15
django-environ==0.9.0  # https://github.com/joke2k/django-environ
pytz==2022.2.1
sqlparse==0.4.2
python-slugify==6.1.2  # https://github.com/un33k/python-slugify
Pillow==9.2.0  # https://github.com/python-pillow/Pillow
whitenoise==6.2.0  # https://github.com/evansd/whitenoise
django-model-utils==4.2.0  # https://github.com/jazzband/django-model-utils
django-allauth==0.51.0  # https://github.com/pennersr/django-allauth
django-crispy-forms==1.14.0  # https://github.com/django-crispy-forms/django-crispy-forms
crispy-bootstrap5==0.6  # https://github.com/django-crispy-forms/crispy-bootstrap5
django-extensions==3.2.0  # https://github.com/django-extensions/django-extensions
psycopg2-binary==2.9.3  # https://github.com/psycopg/psycopg2