{% extends "base.html" %}
{% load static %}

{% block modal %}
<div class="container px-5 py-3 rounded-3 border shadow-lg">
  <main class="pt-5">
    <a class="btn btn-outline-dark" href="{% url 'store:all_categories' %}">&#x2190; Continue Shopping</a>
    <h1 class="h5">Shopping basket</h1>
    {% for item in order_items %}
    <div class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ item.product.image.url }}">
      </div>
      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ item.product.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2">{{ item.product.title }}</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Hardback Book</div>
              <div class="col-6 text-end"><span class="h6 fw-bold">£{{ item.product.price }}</span></div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <form method="POST" action="{% url 'store:cart_view' %}">
                  <fieldset class="form-group">
                    <legend class="mt-1 text-muted">Kiekis</legend>
                    {% if order_item.quantity == None or order_item.quantity == 1 %}
                    <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio" name="quantity"
                      value="1" checked> <span>1</span>
                    <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio" name="quantity"
                      value="2"> <span>2</span>
                    <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio" name="quantity"
                      value="3"> <span>3</span>
                    <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio" name="quantity"
                      value="4"> <span>4</span>
                    <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio" name="quantity"
                      value="5"> <span>5</span>
                    {% elif order_item.quantity == 2 %}
                    <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio" name="quantity"
                      value="1"> <span>1</span>
                    <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio" name="quantity"
                      value="2" checked> <span>2</span>
                    <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio" name="quantity"
                      value="3"> <span>3</span>
                    <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio" name="quantity"
                      value="4"> <span>4</span>
                    <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio" name="quantity"
                      value="5"> <span>5</span>
                    {% elif order_item.quantity == 3 %}
                    <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio" name="quantity"
                      value="1"> <span>1</span>
                    <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio" name="quantity"
                      value="2"> <span>2</span>
                    <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio" name="quantity"
                      value="3" checked> <span>3</span>
                    <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio" name="quantity"
                      value="4"> <span>4</span>
                    <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio" name="quantity"
                      value="5"> <span>5</span>
                    {% elif order_item.quantity == 4 %}
                    <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio" name="quantity"
                      value="1"> <span>1</span>
                    <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio" name="quantity"
                      value="2"> <span>2</span>
                    <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio" name="quantity"
                      value="3"> <span>3</span>
                    <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio" name="quantity"
                      value="4" checked> <span>4</span>
                    <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio" name="quantity"
                      value="5"> <span>5</span>
                    {% elif order_item.quantity == 5 %}
                    <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio" name="quantity"
                      value="1"> <span>1</span>
                    <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio" name="quantity"
                      value="2"> <span>2</span>
                    <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio" name="quantity"
                      value="3"> <span>3</span>
                    <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio" name="quantity"
                      value="4"> <span>4</span>
                    <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio" name="quantity"
                      value="5" checked> <span>5</span>
                    {% endif %}
                  </fieldset>
              </div>
            </div>
            <div class="cart mt-4 align-items-center">
              {% csrf_token %}
              <input class="btn btn-primary px-5 me-md-2 fw-bold" type="submit" value="Išsaugoti">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
<div class="col-12 text-end">
  <div class="h6 fw-bold">Sub Total: £<div id="subtotal" class="d-inline-flex">{{my.get_cart_total}}</div>
  </div>
</div>
</div>
</main>
</div>
{% endblock %}