{% extends "base.html" %}
{% load static %}

{% block modal %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{product.image.url}}"
                                    width="300" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"><span class="ml-1"> <a
                                            href="{% url 'store:products_by_category' product.category.slug %}"><img
                                                src="{% static 'images/back-button.png' %}" alt="jusciogrybai"
                                                class="mr-3" width="16" height="16"></a></span></div>
                            </div>
                            <div x-data="{ count: {{product.price}}*1}">
                            <div class="mt-4 mb-3"> <span class="text-uppercase brand">{{product.name}}</span>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price" x-text="count">{{product.price}}</span>€</div>
                            </div>
                            <p class="about">{{product.description}}</p>
                            <div class="sizes mt-5">
                                <form method="POST"
                                    action="{% url 'store:product_detail' product.category.slug product.slug %}">
                                        <fieldset class="form-group">
                                            <legend class="mt-1 text-muted">Kiekis</legend>
                                            <input x-on:click="count={{product.price}}*1" class="form-check-input" type="radio"
                                                name="quantity" value="1" checked> <span>1</span>
                                            <input x-on:click="count={{product.price}}*2" class="form-check-input" type="radio"
                                                name="quantity" value="2"> <span>2</span>
                                            <input x-on:click="count={{product.price}}*3" class="form-check-input" type="radio"
                                                name="quantity" value="3"> <span>3</span>
                                            <input x-on:click="count={{product.price}}*4" class="form-check-input" type="radio"
                                                name="quantity" value="4"> <span>4</span>
                                            <input x-on:click="count={{product.price}}*5" class="form-check-input" type="radio"
                                                name="quantity" value="5"> <span>5</span>
                                        </fieldset>
                            </div>
                            </div>
                        </div>
                        <div class="cart mt-4 align-items-center">
                            {% csrf_token %}
                            <input class="btn btn-primary px-5 me-md-2 fw-bold" type="submit" value="Į krepšelį">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock modal %}