{% load static %}
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}jusciogrybai{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Behold My Awesome Project!">
    <meta name="author" content="Daniel Roy Greenfeld">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body>

    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="{% url 'home' %}" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="{% static 'images/logos/mushrooms.png' %}" alt="jusciogrybai" class="mr-3" width="48" height="48">
            <span class="fs-3 p-2">Jusčio Grybai</span>
            <img src="{% static 'images/logos/mushrooms.png' %}" alt="jusciogrybai" class="mr-3" width="48" height="48">
          </a>
    
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if request.user.is_authenticated %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Profilis</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Atsijungti</a>
            {% else %}
            <a id="sign-up-link" class="me-3 py-2 text-dark text-decoration-none" href="#">Registracija</a>
            <a id="log-in-link" class="py-2 text-dark text-decoration-none" href="#">Prisijungti</a>
            {% endif %}
          </nav>
        </div>
      </header>

      <div class="container">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
                
            {% block content %}
                
            {% endblock content %}
      </div> <!-- /container -->

      {% block modal %}
      {% endblock modal %}

      {% block inline_javascript %}
      {% comment %}
      Script tags with only code, no src (defer by default). To run
      with a "defer" so that you run inline code:
      <script>
        window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
      </script>
      {% endcomment %}
      {% endblock inline_javascript %}
    </div>
  </body>
</html>