{% extends "base.html" %}
{% load static %}

{% block modal %}
<div class="container px-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      {% if user.is_superuser %}
      <h3 class="display-10 fw-bold lh-1 pb-1">Admin</h3>
      <a type="button" href="{% url 'store:orders_admin_area' %}" class="btn btn-primary px-5 me-md-2 fw-bold">Peržiūrėti užsakymus</a>
    </div>
      <div class="col-lg-4 offset-lg-1 p-0 pl-5 overflow-hidden">
        <img class="rounded-lg-5 px-5" src="{% static 'images/king.png' %}" alt="" width="400">
      </div>
      {% else %}
      <h1 class="display-6 fw-bold lh-1">Žiauriausi grybai Klaipėdoje</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
        <a type="button" href="{% url 'store:all_categories' %}" class="btn btn-primary px-5 me-md-2 fw-bold">Apsipirkti</a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-5 px-5" src="{% static 'images/home_page_mushroom.jpg' %}" alt="" width="400">
    </div>
    {% endif %}
  </div>
</div>
{% endblock modal %}